{% extends 'base.html.twig' %}

{% block title %}Hello DocumentsController!{% endblock %}

{% block body %}
<table>
    <thead>
        <tr>
            <td>Titre</td>
            <td>Description</td>
            <td>Auteur</td>
            <td>Types</td>
            {% if is_granted('ROLE_USER') %}
                    <td></td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for document in arrayDocuments %}
            <tr>
                <td>{{ document.titre}}</td>
                <td>{{ document.description}}</td>
                <td><a href="{{ path('artiste', {'id': document.auteur.id}) }}">{{document.auteur.nom}} {{document.auteur.prenom}}</a></td>
                <td>{{ document.getMyDiscriminator}}</td>
                <td><a href="{{ path('documentInfos', {'id': document.id}) }}">Voir plus</a></td>
                {% if is_granted('ROLE_BIBLIOTHECAIRE') %}
                    <td>{% if document.etat != 3 and document.emprunts is empty %}<a href="">Emprunt</a>{% endif %}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    
</table>
{% endblock %}
