{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(editUserForm) }}
        {{ form_row(editUserForm.email) }}
        {{ form_row(editUserForm.prenom) }}
        {{ form_row(editUserForm.nom) }}
        {{ form_row(editUserForm.roles) }}
        <button type="submit" class="btn">Edit</button>
    {{ form_end(editUserForm) }}

{% endblock %}